html {
    --main-color: #0f6bb0;
    --main-bg-color: #fff;
    --background-color: #f3f3f4;
    --button-color-1: #023a63;
    --button-color-2: #0F6BB0;
    --button-color-3: #EE3C26;
    --secondary-color: #7288c4;
    --link-color: #337ab7;
}