html {
    --main-color: #0f6bb0;
    --main-bg-color: #fff;
    --background-color: #f3f3f4;
    --button-color-1: #023a63;
    --button-color-2: #0F6BB0;
    --button-color-3: #EE3C26;
    --secondary-color: #7288c4;
    --link-color: #337ab7;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 80%;
    overflow-y: auto;
}

ul.manuals_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    height: 85%;
    overflow-y: auto;
    padding: 1rem;
}

.manuals_list li {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: var(--main-bg-color);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-height: 250px;
}

.manuals_list a {
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.manuals_list li:hover {
    transform: scale(1.02);
}

.manual_description {
    color: var(--secondary-color);
    height: 45%;
    overflow: hidden;
}

.manual_title {
    color: var(--main-color);
    font-weight: bold;
    margin: 0;
}

.upper_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
}

.upper_block img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
