{% extends 'base.html' %}
{% load static %}
{% block title %} Account {% endblock title %}
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
</head>
{% block content %}
    <div class="account-container">
        <h1 class="account-title">Account</h1>
        <div class="account-info">
            <p class="account-item"><strong>Username:</strong> {{ user.username }}</p>
            <p class="account-item"><strong>Email:</strong> {{ user.email }}</p>
            <p class="account-item"><strong>First Name:</strong> {{ user.first_name }}</p>
            <p class="account-item"><strong>Last Name:</strong> {{ user.last_name }}</p>
        </div>

        <form class="logout-form" action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
{% endblock content %}
