{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/manual.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}"><img class="logo-img" src="{% static 'images/logo.png' %}" alt="logo"></a>
        <div class="title-text">
            <p class="title">Tallaght University Hospital</p>
            <p class="desc">E-Library</p>
        </div>
        <div class="title-buttons">
            <div class="notification-container">
                <button class="notification-button" id="notificationButton">
                    <img class="account-button bell" src="{% static 'images/bell.png' %}" alt="account">
                    <span class="notification-count">3</span> <!-- Example count -->
                </button>
        
                <div class="notification-popup" id="notificationPopup">
                    <ul>
                        <li>New assignment posted</li>
                        <li>Quiz deadline extended</li>
                        <li>New message from instructor</li>
                    </ul>
                </div>
            </div>
            <a href="{% url 'account' %}"><img class="account-button" src="{% static 'images/account.png' %}" alt="account"></a>
        </div>
    </header>
    <section class="container">
        {% if user.is_authenticated %}
        <nav>
            <ul>
                <li class="nav-item"><a href="">Recent</a></li>
                <li class="nav-item"><a href="{% url 'home' %}">Manuals</a></li>
                <li class="nav-item"><a href="{% url 'quiz_page' %}">Quizes</a></li>
            </ul>
        </nav>
        {% endif %}
        <main>
            <div class="search-container">
                <div class="search-bar">
                    <input type="text" placeholder="Search...">
                    <button type="submit">Search</button>
                </div>
                <div class="view-buttons">
                    <button class="view-button" id="plate-view">Plate View</button>
                    <button class="view-button" id="list-view">List View</button>
                </div>
            </div>
            {% block content %} {% endblock content %}
        </main>
    </section>
    <footer>
        <p>&copy; 2024 Tallaght University Hospital</p>
        <div class="lang-choose">
            <a href="">English</a>
            <a href="">Gaeilge</a>
        </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
<script src="{% static 'js/base.js' %}"></script>
</html>